@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

.animate-fadeInUp {
animation: fadeInUp 0.8s ease-out forwards;
}


  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slide {
    animation: slide 30s linear infinite;
  }

  .group:hover .animate-slide {
    animation-play-state: paused;
  }
